* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	background: #1a1717;
  color: #e7f3e5;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Suravaram', serif;
  font-size: 1em;
}

h1{
  position: relative;
  display: inline-block;
  color: #99FFE6;
  font-size: 2.5em;
}

h1::before, h1::after{
  content: '';
  height: 100%;
  display: block;
  position: absolute;
}

h1::before{
  background: #1a1717;
  z-index: -1;
  left: -17px;
  right: -17px;
}

h1::after{
 background: #FFDC73;
 width: 100vw;
 left: 50%;
 transform: translateX(-50%);
 top: 0;
 z-index: -2;
}

header{
	text-align: center;
  color: #162135;
  font-family: 'Kaushan Script', cursive;

}

p{
  padding: 4px;
  line-height: 40px;
}

a{
  color: gold;
  text-decoration: none;
}

ul{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin: 1em;
}
.gallery_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
li{
   list-style: none;
   position: relative;
   font-size: 1.2em;
   line-height: 25px;
}

li:hover{
  border: 6px solid #38ff9b;
}

li p{
	font-size: 1.4em;
}
li:nth-child(2){
   grid-row: span 6;
}
li:nth-child(3){
   grid-row: span 2;
}
li:nth-child(4){
   grid-row: span 3;
   grid-column: span 3;
}
li:nth-child(5){
   grid-row: span 3;
   grid-column: span 2;
}
li:nth-child(6){
   grid-column: span 2;
}

li:nth-child(21){
   grid-row: span 3;
   grid-column: span 2;
}
li:nth-child(22){
   grid-column: span 3;
}

li:nth-child(25){
   grid-column: span 2;
   grid-row: span 2;

}

li:nth-child(30){
    grid-row: span 3;
   grid-column: span 3;
}
li:nth-child(35){
   grid-row: span 3;
}

li:nth-child(40){
   grid-row: span 2;
   grid-column: span 3;
}

li:nth-child(44){
   grid-column: span 2;
}

li[data-tool-tip] {
  position: relative;
}

li[data-tool-tip]::after {
   content: attr(data-tool-tip);
   display: block;
   position: absolute;
   background: rgba(244, 191, 66, 0.5);
   border-radius: 3%;
   padding:  1em;
   top: 60px;
   color: #3d0101;
/*   white-space: nowrap;*/
   transform: scale(0);
   transition: transform ease-out 150ms;
}

li[data-tool-tip]:hover::after {
  transform: scale(1);
}

footer{
  height: 6rem;
  padding: 2rem 4rem;
}





@media screen and (max-width: 600px) {
   ul{
	   display: block;
	}
	li{
		height: 22rem;
	}

}






